<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Welcome, {{username}}</h1>
    <p>This is the admin panel.</p>
    
    <a href="/admin/users">go to users list</a><br>
    <a href="/admin/logout">Logout</a>
</body>
</html>
